body{
  background-color:#def2f1;
  font-family: arial, times, sans-serif;
  font-size: 15px;
  padding:0;
  margin:0;
}

header{
  background-color: #ffffff;
  padding-top: 0.5%;
  min-height: 150px;
}

header h1{
  color:#def2f1;
}

header img, li{
  display: inline;
}

header a{
  color:#014E96;
}

header a:hover{
  color:#9BCDCD;
}

header ul{
  margin-left:30%;
}

header li{
  display: inline;
  padding-left: 4%;
  font-size: 1.2em;
  text-transform: uppercase;
}
