body{
  background-color:#def2f1;
  font-family: arial, times, sans-serif;
  font-size: 15px;
  padding:0;
  margin:0;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header{
  background-color: #ffffff;
  overflow:hidden;
}

header::after{
  content:'';
  display: table;
  clear: both;
}

.logo{
  float: left;
}

nav{
  float: right;
}

nav ul{
  margin:0;
  padding:0;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
}

nav li{
  display: inline-block;
  margin-left: 4em;
  padding-top: 5.8%;
  position:relative;
}

nav a{
  color:#014E96;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3em;
}

nav a:hover{
  color:#9BCDCD;
}

nav a::before{
  content:'';
  display: block;
  height:0.28em;
  background-color: #014E96;

  position:absolute;
  top:0;
  width:0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width:100%;
}



.box{
  box-sizing: border-box;
  border: none;
  height:50em;
  background-image: url(backimg.jpg);
  opacity: 0.6;
  z-index: 1;
  position: relative;
}

.boxtext p{
  margin-top: -10em;
  margin-left: 5.5em;
  padding: 0.4em;
  text-align: center;
  color: #014E96;
  font-size: 60px;
  font-family: 'Cardo', serif;
  text-shadow: 3px 3px #fff;
  opacity: 0.8;
  z-index: 2;
  position: absolute;
  background-color: #def2f1;
}

.button{
 background-color: #014E96;
 border: none;
 color: white;
 padding: 15px 25px;
 text-align: center;
 font-size: 16px;
 cursor: pointer;
 margin-left: 42em;
 text-transform: uppercase;
 font-family: 'Quicksand', sans-serif;
 text-decoration: none;
 margin-top: -19em;
 z-index: 3;
 position: absolute;
}

.button:hover{
  background-color: #def2f1;
  border: none;
  color: #014E96;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 43.5em;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

#service-support h1{
  padding-top:3%;
  padding-bottom: 1%;
  color: #014E96;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;
}

#service-support p{
  font-family: 'Quicksand', sans-serif;
  line-height: 2em;
  text-align: center;
}

#service-support a{
    text-decoration: none;
    color: #014E96;
    font-weight: bold;
  }

  #service-support a:hover{
    color:#9BCDCD;
  }

#om_oss h1{
  padding-top:3%;
  padding-bottom: 1%;
  color: #014E96;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;
}

#om_oss p{
  font-family: 'Quicksand', sans-serif;
  line-height: 2em;
  text-align: center;
}

.loginbox h1{
  font-family: 'Quicksand', sans-serif;
  color:#014E96;
  margin-top: 3%;
}

.loginbox input{
  width: 20%;
}

.loginbox input[type="text"], input[type="Lösenord"]{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  height: 50px;
  color:#7c7c7c;
  font-size: 16px;
  font-family:'Quicksand', sans-serif;
}

.loginbox input[type="submit"]{
  border: none;
  height: 40px;
  background: #014E96;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin: 4%;
  font-family: 'Quicksand', sans-serif;
}

.loginbox input[type="submit"]:hover{
  cursor: pointer;
  background: #9BCDCD;
  color: #014E96;
}

.loginbox a{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  line-height: 30px;
  color: #000;
}

.loginbox a:hover{
  color: #9BCDCD;
}

.order h1{
  font-family: 'Quicksand', sans-serif;
  color:#014E96;
  margin-top: 3%;
}

.order input{
  padding: 10px;
  font-size: inherit;
  color: #000;
  font-family: 'Quicksand', sans-serif;
}

.order input[type="text"]{
  margin-bottom: 15px;
  width: 80%;
  font-family: 'Quicksand', sans-serif;
}

.order input[type="radio"]{
  margin: 0 8px 30px 20px;
}

.order input[type="submit"]{
  width: 70%;
  height: 45px;
  border: none;
  background: #014E96;
  color: #fff;
}

.order input[type="submit"]:hover{
  cursor: pointer;
  background: #9BCDCD;
  color: #014E96;
}

.order input:focus{
  background: #fff;
}

.order input[type="radio"]:checked + lable{
  font-weight: bold;
  font-size: 25px;
  color: #014E96;
  font-family: 'Quicksand', sans-serif;
}

.container2{
    text-align: center;
}


.footer {
    background-color: #ffffff;
    height: 150px;
    overflow: hidden;
    margin-top: 4%;
  }

  .column {
    /*  background-color: #def2f1; */
      float: left;
      width: 30%;
     margin: 1.15%;
      height: 70%;
    }

  .column h1, ul {
      text-align: left;
      font-size: 0.8em;
      font-family: 'Quicksand', sans-serif;
    }

  .column h1 {
    margin-left: 40%;
    font-size: 0.9em;
  }
  .column li {
    margin-left: 34%;
  }

  .lista {
    list-style-type: none;
  }

  .loggor {
    width: 33%;
    height: 33%;
    float: left;
    margin-top: 5%;
  }

.footer2{
      background-color: #ffffff;
      height: 200px;
      padding: 2%;
      overflow: hidden;
  }


.pageinfo h1{
    padding-top:3%;
    color: #014E96;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
    text-align: center;
  }

.pageinfo h2{
    padding: 0% 0% 1% 0%;
    color: #014E96;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    text-align: center;
  }

.pageinfo p{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    text-align: center;
    padding: 0% 20%;
    line-height: 2em;
  }

.dummymain {
    font-family: 'Quicksand', sans-serif;
    line-height: 2em;
    text-align: center;
    padding: 5%;
  }

.dummymain h1 {
    color: #014E96;
    text-transform: uppercase;
  }

.dummymain a {
    text-decoration: none;
    color: #014E96;
    text-transform: uppercase;
    font-weight: bold;
  }

.dummymain a:hover {
    color: #9BCDCD;
  }

  .order{
    position: absolute;
    z-index: 2;
    margin-top: -31em;
    margin-left: 40.7em;
  }

.bg{
  background-color: #fff;
  margin-top: 2em;
  padding-top:32em;
  margin-right: 28em;
  margin-left: 28em;
  position: relative;
  z-index: 1;
}




/*@media screen and (min width: 400px){
  nav, ul, li{
    flex:none;
  }
  nav, ul{
    justify-content:center;
  }
}
*/
