body{
  background-color:#def2f1;
  font-family: arial, times, sans-serif;
  font-size: 15px;
  padding:0;
  margin:0;
}

.container{
  width:80%;
  margin: 0 auto;
}

header{
  background-color: #ffffff;
}

header::after{
  content:'';
  display: table;
  clear: both;
}

.logo{
  float: left;
}

nav{
  float: right;
}
nav ul{
  margin:0;
  padding:0;
  list-style: none;
  font-family: 'Quicksand', sans-serif;

}

nav li{
  display: inline-block;
  margin-left: 4em;
  padding-top: 6%;

  position:relative;
}

nav a{
  color:#014E96;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
}

nav a:hover{
  color:#9BCDCD;
}

nav a::before{
  content:'';
  display: block;
  height:0.25em;
  background-color: #014E96;

  position:absolute;
  top:0;
  width:0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width:100%;
}





/*@media screen and (min width: 400px){
  nav, ul, li{
    flex:none;
  }
  nav, ul{
    justify-content:center;
  }
}
*/
